.name{
	Text-align:center;
	Color:pink;
	font-weight: bold;
	padding-top:50px;
	font-size: larger;
}
.name1{
	Color:black;
	margin-left: 14px;
	padding-top:10px;
	padding-bottom: 10px;
}
ul{
	color:black;
	text-align: center;
	padding-top:50px;
	text-shadow: rebeccapurple;
	list-style: none;
	font-family: 'Times New Roman', Times, serif;
}
.heading{
	color:purple;
	text-align: center;
    font-weight: bolder;
	padding-top: 30px;
}
.heading2{
	color:purple;
	text-align: center;
	font-weight: bolder;
	padding-top: 20px;
} 
ul5{
	color:rgb( 68, 15, 70);
	text-align: center;
	padding-top:50px;
	text-shadow: rebeccapurple;
	list-style: none;
	font-family: 'Times New Roman', Times, serif;

}
.container7{
	color:purple;
	font-weight: bold;
	width:800px;
	margin:50px auto 0;
	display:table;
	box-sizing: border-box;
}
.row7{
	margin:10px 0;
}
.column7{
	background-color:honeydew;
	display:table-cell;
	padding: 15px;
	width: 33.33333%;
	text-align:center;
	color: black;
	vertical-align: middle;
	border right: 100px solid #fff;
	border left: 50px solid #fff;

}

p4{
	color:red;
}
P11{
	color:red;

}
p13{
	color:red;
	margin-top: 10px;
}
.footy{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: #32321a;
    height:180px;
}
.flx{
    display: flex;
    flex-direction: column;
    align-content: center;
    font-size: 10px;
    padding: 0;
    margin:0;
    
}
.foothead,h1{
    color: aliceblue;
    font-size: 15px; 
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 0.2;
    margin-left: 5px;
}
a.foo,h2{
    font-size: 15px;
    line-height: 2;
    font-weight: lighter;
    color: aliceblue;
    align-content: center;   
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 5px;
}
.icons{
 dispaly:block;
}
